@font-face {
    font-family: 'ChronoType';
    src: url('fonts/ChronoType.woff2') format('woff2'),
        url('fonts/ChronoType.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: black;
    font-family: 'ChronoType';
    font-weight: 600;
    color: #dfdfdf;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
}

.wrap {
}
a {
    color: #00ffd9;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 16px;
    padding-bottom: 21.4px;
    justify-content: center;
  }

li {
    padding-right: 16px;
}

.sitemessage {
    font-size: 20px;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 50s infinite linear;
    padding-left: 100%; /*Initial offset*/
    color: #5D5DF8;

}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.twitchpfp {
    margin-top: 8px;
}

.zulul {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width:112px;
    height:112px;
}

.archive {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width:112px;
    height:112px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* animated links TriHard my code now */
a {
	text-decoration: none;
	color: #5D5DF8;
}
a:hover {
	animation: linkhover 3s infinite;
}

@keyframes linkhover {
	7.14%, 57.14% {color:#ff0000;}
	14.28%, 54.28% {color:#ff7f00;}
	21.42%, 71.42% {color:#ffff00;}
	28.57%, 78.57% {color:#00ff00;}
	35.71%, 85.71% {color:#0000ff;}
	42.85%, 92.85% {color:#4b0082;}
	50%, 100% {color:#8b00ff;}
}

.pugpls {
    margin-top: -68px;
    position: sticky;
  }

  .arrow {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width:24px;
    height:24px;
  }

  .pugplease:hover {
      cursor: pointer;
  }

  .pugplease {
    position: absolute;
    left: 250px;
  top: 300px;
  width:200px;
  height:200px;
  z-index: 999;
  }

  #volumcontroller {
    height: 35px;
    width: 90px;
}
#volumcontroller div{
    height:40px;
}
.volumecontrollerbar{
    border-left:1px solid #222;
    float:right;
    width:3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    background-color: #4c4c4c;
    cursor:pointer;
}
.volumecontrollerbar:hover{
    background-color:#bcbcbc !important;
}

#click {
  position: absolute;
  left: 250px;
top: 500px;
width:200px;
height:100px;
z-index: 999;
font-size: 30px;
}

button {
  width:2.1em;
  padding: 0;
  border: none;
  font-family: 'ChronoType';
  font-weight: 600;
  color: #dfdfdf;
  background: none;
  font-size: 16px;


}
button:hover span {display:none}
button:hover:before {content:"fran"}

.raremonkey {
  width: 25px;
  height: 20px;
}

#volslider {
  position: absolute;
  left: 250px;
top: 500px;
width:200px;
height:150px;
z-index: 999;
font-size: 30px;
}

.upload-submit {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-family: chronotype;
  font-size: 30px;
  font-weight: 600;
}

.upload-form {
  background-color: black;
  color: white;
  font-family: chronotype;
  font-size: 30px;
  font-weight: 600;
}

.upload-input {
  font-size: 30px;
  font-weight: 600;
  font-family: chronotype;
  background-color: black;
  color: white;

}

::-webkit-file-upload-button {
  display: none;
}

.upload-label {
  font-size: 30px;
  font-weight: 600;
  font-family: chronotype;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

#vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  white-space: nowrap;
}