<footer class="footer-buttons">
  {%- if site.oomf_buttons -%}
    <div class="button-grid oomf-buttons">
      {%- for button in site.oomf_buttons -%}
        <a href="{{ button.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ button.img | relative_url }}" alt="{{ button.alt }}" width="88" height="31">
        </a>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if site.other_buttons -%}
    <div class="button-grid other-buttons">
      {%- for button in site.other_buttons -%}
        <a href="{{ button.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ button.img | relative_url }}" alt="{{ button.alt }}" width="88" height="31">
        </a>
      {%- endfor -%}
    </div>
  {%- endif -%}
</footer>
