<nav>
  <a href="{{ "/" | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a> 
  <a href="./certifications" class="{% if page.url == '/certifications' %}active{% endif %}">Certs</a>
  <a href="./blog-archive" class="{% if page.url == '/blog-archive' %}active{% endif %}">Blogs</a>
  <a href="./writeup-archive" class="{% if page.url == '/writeup-archive' %}active{% endif %}">Writeups</a>
  <a href="./archive" class="{% if page.url == '/archive' %}active{% endif %}">All</a>
</nav>
