/* Rose Tinted Regular */
@font-face {
  font-family: "Rose Tinted";
  src: url('/assets/fonts/Rose-Tinted-A-Pixel-Type-Family/Rose-Tinted_Regular_v1.0.woff2');
  font-weight: normal;
  font-style: normal;
}

/* Rose Tinted Italic */
@font-face {
  font-family: "Rose Tinted";
  src: url('/assets/fonts/Rose-Tinted-A-Pixel-Type-Family/Rose-Tinted_Italic_v1.0.woff2');
  font-weight: normal;
  font-style: italic;
}

/* Rose Tinted Bold */
@font-face {
  font-family: "Rose Tinted";
  src: url('/assets/fonts/Rose-Tinted-A-Pixel-Type-Family/Rose-Tinted_Bold_v1.0.woff2');
  font-weight: bold;
  font-style: normal;
}

/* Rose Tinted Bold Italic */
@font-face {
  font-family: "Rose Tinted";
  src: url('/assets/fonts/Rose-Tinted-A-Pixel-Type-Family/Rose-Tinted_BoldItalic_v1.0.woff2');
  font-weight: bold;
  font-style: italic;
}

// -------------- THEME SWITCHER -------------- //
@mixin light-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="light"] { @include light-appearance; }


@media (prefers-color-scheme: light) {
  body[a="light"] { @include light-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: #0c042a; }

html { height: 100%; }

body {
  color: #ffffff;
  font-family: "Rose Tinted";
  font-size: 13pt;
  letter-spacing: .5px;
  line-height: 1.3;
  margin: 0;
  overflow-wrap: break-word;
}

header {
  text-align: center;
}

header a {
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}

nav a {
  background-color: #000000;
  border: 5px solid #ffffff;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
}

nav a:link {
  color: #ffffff;
}

nav a.active {
  background-color: #4d4d4d;
  color: #ffffff;
}

nav a:not(:first-child) {
  margin-left: -5px;
}

nav a:hover, nav a:focus {
  background-color: #0c042a;
  border-color: #aa7cff;
  color: #aa7cff;
  text-decoration: none;
  z-index: 3;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: #280c8d; }

a:link{
  color: #aa7cff;
}

a:visited{
  color: #aa7cff;
}

::selection {
  background-color: #663EFA;
  color: #ffffff;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  background: #000000;
  border: 5px solid #ffffff;
  padding: 10px 15px;
  border-collapse: collapse;
}

blockquote {
  background: #000000;
  font-style: italic;
  border: 5px solid #ffffff;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

::-webkit-scrollbar {
  background: #aa7cff;
}

