html {
    background-color: #f6ccfb;
    font-family: Arial;
    font-weight: 600;
    color: black;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    font-size: 100%;
}

body {
    text-align: center;
    margin: 0;
}

@font-face {
  font-family: pumpkinstory; src: url('pumpkinstory.tff');
}

.playlist {
  width: 25%;
  height: 100%;
position: absolute;
top: 93.4px;
margin-top: 21.440px;
}

#title {
  height:
}

#face {
  z-index: -1;
  position: absolute;
  transform: translateX(50%);
}

#watdat {
  z-index: -1;
  position: absolute;
  transform: translate(-155%, 70%);
}

#colon3 {
  z-index: -1;
  position: absolute;
  transform: translate(50%, 150%);
}

#cuteface {
  z-index: -1;
  position: absolute;
  transform: translate(-150%, 220%);
}

#colono {
  z-index: -1;
  position: absolute;
  transform: translate(50%, 300%);
}

#newestvideo {
  color: #99499f;
  top: 50px;
}

#newvid {
  padding-top: 50px;
}

#pastel {
  position:absolute;
  z-index: -1;
  transform: translateZ(0) translate(-50%, -50%) rotate(48.05878198584705deg);
  pointer-events: none;
    width: 20rem;
    left: 50%;
padding-top: 15px;
padding-left: 15px;
}

#pastel2 {
  position:absolute;
  z-index: -1;
  transform: translateZ(0) translate(-50%, -88%) rotate(48.05878198584705deg);
  pointer-events: none;
    width: 20rem;
    left: 87.5%;

}

#pastel3 {
  position:absolute;
  z-index: -1;
  transform: translateZ(0) translate(-50%, -88%) rotate(48.05878198584705deg);
  pointer-events: none;
    width: 20rem;
    left: 12.5%;
  }

#playlisttext {
  color: #99499f;
position: absolute;
top: 0px;
width: 25%;
height: 22px;
margin-top: 21.44px;
margin-bottom: 21.44px;
padding-top: 50px;
}

#outfits {
  color: #99499f;
position: absolute;
top: 0px;
width: 56px;
height: 56px;
left: calc(100% - 112px);
padding-top: 25px;
}

#morning {
  color: #99499f;
position: absolute;
top: 0px;
width: 56px;
height: 56px;
left: calc(0% + 56px);
padding-top: 25px;
}

#noblog {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#blogs {
  color: #99499f;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25%;
  margin-top: 21.44px;
  margin-bottom: 100%;
  padding-top: 50px;
}

a {
  color: inherit;
}

#whitesuntext {
  text-align: left;
  margin-top: 100px;
  font-family: pumpkinstory;
padding-left: 25%;
padding-right: 25%;
font-size: 30px;
}

#rcorners1 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  border-radius: 25px;
  background: #66FFB1;
padding: 100%
}

.blogtext {
  font-family: pumpkinstory;
  color: black;
  position: absolute;
  right: 60%;
  opacity: 1;
  margin-top: 50px;
}
