<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {%- include head.html -%}
  <body a="{{ site.theme_config.appearance | default: "auto" }}">
    <header>
      <h1>{{ site.title }}</h1>
        {%- include nav.html -%}
      {%-if site.theme_config.show_description-%}
        <p>{{ site.description }}</p>
      {%-endif-%}
    </header>
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content }}
      </div>
    </main>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/qtcreator-dark.min.css" integrity="sha512-Jwc3XIjxlVKklrYEsBniSyuGolx+1zGX+9K2/xvlG0WGVC9CaVnu1QnxCDBvOCiPhpcNtbqIT2HMlhfQLeHP3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js" integrity="sha512-6yoqbrcLAHDWAdQmiRlHG4+m0g/CT/V9AGyxabG8j7Jk8j3r3K6due7oqpiRMZqcYe9WM2gPcaNNxnl2ux+3tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>hljs.highlightAll();</script>
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
