@font-face {
    font-family: 'ChronoType';
    src: url('/fonts/ChronoType.woff2') format('woff2'),
        url('/fonts/ChronoType.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
$text: #f4f1fe;
$background: #000000;
$primary: #280c8d;
$secondary: #0c042a;
$accent: #673efa;
html {
    scroll-behavior: smooth;
}

header {
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
}

body {
    color: $text;
    background: $background;
    font-family: "chronotype";
    font-size: 16px;
    display: flex;
    width: 100%;
    max-width: 10000px;
    padding: 32px;
}